DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@localhost:5432/deepread_db

MAIL_USERNAME=your_email
MAIL_PASSWORD=your_app_password
MAIL_FROM=your_email
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587

REDIS_URL=redis://localhost:6379/0

JWT_SECRET_KEY=your-generated-value